<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-info">
                    Amir sakaev
                    <br>
                    2026
                    <br>
                    <a href="https://t.me/suyargulov" target="_blank"><svg class="icon" id="telegram" viewBox="0 0 496 512"></svg></a>
                    <a href="#" target="_blank"><svg class="icon" id="vk" viewBox="0 0 496 512"></svg></a>        
                </div>
            </div>
        </div>
    </div>
</footer>