{% extends 'base.html' %}
{% load static %}

{% block title %}{{ item.template }} – GEOS{% endblock %}

{% block css %}
    <link rel="stylesheet" href={% static 'css/header.css' %}>
    <link rel="stylesheet" href={% static 'css/item.css' %}>
{% endblock %}

{% block content %}
    <div class="container" id="item">
        <div class="row justify-content-center">
            <div class="col-5 col-img">
                <img src={{ item.image.url }} alt={{ item.title }} id="item-img">
            </div>
            <div class="col-7 col-info">
                <p id="item-title">{{ item.title }}</p>
                {% if item.clothes_type %}
                <p id="item-price">{{ item.price }}</p>
                {% else %}
                <p id="item-price">{{ item.price }}</p>
                {% endif %}
                <p id="item-description">{{ item.description }}</p>
                <p id="item-category">Категория: {{ item.get_clothes_type_display }}</p>
                {% if item.clothes_type %}
                
                {% else %}
                
                {% endif %}
                {% comment %} <a id="item-buy" href="{% url 'cart_add' item.id %}" class="btn btn-success">Купить</a> {% endcomment %}

                <div class="d-flex align-items-center mb-3" id="quantity-control">
                    <button type="button" class="btn btn-outline-secondary" id="qty-minus">−</button>

                    <input type="number"
                        id="qty-input"
                        class="form-control mx-2 text-center"
                        value="1"
                        min="1"
                        style="width: 80px;">

                    <button type="button" class="btn btn-outline-secondary" id="qty-plus">+</button>
                </div>

                <a id="item-buy"
                href="{% url 'cart_add' item.id %}?qty=1"
                class="btn btn-success">
                Купить
                </a>
            </div>
        </div>
    </div>
{% endblock %}