{% extends 'base.html' %}
{% load static %}

{% block title %}Каталог – GEOS{% endblock %}

{% block css %}
    <link rel="stylesheet" href={% static 'css/header.css' %}>
    <link rel="stylesheet" href={% static 'css/item.css' %}>
{% endblock %}

{% block content %}
<main class="container" id="item">
    <div class="row items-container" onclick="window.location={{ items.id }};">
    {% for items in items_list %}
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ items.photo.url }}" class="card-img-top item-img" alt="{{ items.item_title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ items.item_title }}</h5>
                    <p class="card-text">{{ items.price }}</p>
                    <a href="/item/{{ items.id }}" class="btn btn-primary">Перейти куда-нибудь</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</main>
{% endblock %}

{% block js %}
    <script src={% static 'js/img-change.js' %}></script>
{% endblock %}